@font-face {
    font-family: 'futura_ltbold';
    src: url('futuralt-bold-webfont.eot');
    src: url('futuralt-bold-webfont.eot?#iefix') format('embedded-opentype'), url('futuralt-bold-webfont.woff') format('woff'), url('futuralt-bold-webfont.ttf') format('truetype'), url('futuralt-bold-webfont.svg#futura_ltbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura_ltbook';
    src: url('futuralt-book-webfont.eot');
    src: url('futuralt-book-webfont.eot?#iefix') format('embedded-opentype'), url('futuralt-book-webfont.woff') format('woff'), url('futuralt-book-webfont.ttf') format('truetype'), url('futuralt-book-webfont.svg#futura_ltbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura_ltregular';
    src: url('futuralt-webfont.eot');
    src: url('futuralt-webfont.eot?#iefix') format('embedded-opentype'), url('futuralt-webfont.woff') format('woff'), url('futuralt-webfont.ttf') format('truetype'), url('futuralt-webfont.svg#futura_ltregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'futura_ltregular';
    font-weight: 700;
    color: #777;
    background: #f9f9f9;
}

footer {
    background: #f9f9f9;
}

.site-body {
    padding: 12px 0;
    opacity: 0;
}
.header-text ,.bottom-text{
    margin:0px;
    /* font-size:1.5rem; */
}

.exp-logo {
    height: 2.5rem;
    margin: 14px 0px;
    /* width:100%; */
}

.custom-modal {
    height: 480px;
    display: none;
    /*box-shadow: 0px 0px 10px 1px #dcdcdc;*/
    position: relative;
    background: #f9f9f9;
    padding: 0px 15px;
    overflow-y: auto;
}

.close-modal {
    position: fixed;
    top: 100px;
    right: 100px;
    cursor: pointer;
    padding: 5px;
    z-index: 9;
}
.close-modal>img {
    height: 20px;
}
.close-modal:hover{
    background: rgba(0, 0, 0, 0.13);
    border-radius: 50%;
}

.img-container {
    position: fixed;
    z-index:-1;
    /* height: 100%;width:100%; */
    background-image: url('../../src/img/5.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px);
    overflow: hidden;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    transition: all 1s ease;
    animation-direction: normal;
    opacity: 0.2;
}

.team-img {
    padding: 12px 12px 0px 12px;
    position: relative;
    overflow:hidden;
}

.person-details {
    position:absolute;
    top:100px;
    right:10px;
    left:10px;
    bottom:0px;
    background: rgba(1, 1, 1, 0.85);
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    display: none;
}

.abtn-home {
    cursor: pointer;
    padding:0 10px;
    font-size: 2.5rem;
}

.site-body>center {
    padding: 12px;
}

.home-sections {
    font-weight: 900;
}

.home-sections>h1 {
    margin: 24px 12px;
}

.home-sections>form {
    margin: 0 12px;
}
#emailHelp{
    font-size:0.8rem;
}
.form-control-feedback-success, .form-control-feedback-warning{
    display:none;
}
/* form validation*/
.has-success .form-control-input{
    border:1px solid green;
}
.has-success .form-control-feedback-success{
    color:green;
    font-family: inherit;
    display:block;
}
.has-success label{
    color:green;
}
.has-warning .form-control-input{
    border:1px solid #f0ad4e;
}
.has-warning .form-control-feedback-warning{
    color:#f0ad4e;
    font-family: inherit;
    display:block;
}
.has-warning label{
    color:#f0ad4e;
}

.home-content {
    margin: 0px;
}

/* Extra Small Devices */
@media (max-width: 575px) {
    .home-content {
        /* height: 80%; */
        width:100%;
        padding: 2rem;
    }
    .home-section-border {
        /* border-top: 4px solid; */
        border-bottom: 2px solid;
    }
    .hidden-xs {
        display: none;
    }
    .custom-modal {
        width: 100%;
        display:block !important;
        box-shadow: none;
        height:auto;
        border-bottom: 2px solid;
        padding:0px;
    }
    .abtn-home{
        /*cursor:normal;*/
        font-size: 1rem;
    }
    .close-modal {
        display: none;
    }
    .person-details {
        top: 200px;
    }
    .modal-section {
        padding:0px;
    }

}

/* Small Devices */
@media (min-width: 576px) and (max-width: 767px){
    .home-content {
        /* height: 80%; */
        width:100%;
        padding: 2rem;
    }
    .home-section-border {
        /* border-top: 4px solid; */
        border-bottom: 2px solid;
    }
    .hidden-sm {
        display: none;
    }
    .custom-modal {
        width: 100%;
        display:block !important;
        height:auto;
        border-bottom: 2px solid;
        padding:0px;
    }
    .abtn-home{
        cursor:normal;
    }
    .close-modal {
        display: none;
    }
    .person-details {
        top: 120px;
    }
    .modal-section {
        padding:0px;
    }
}

/* Medium Devices */
@media (min-width: 768px) and (max-width: 991px) {
    .home-content {
        /* height: 80%; */
        width:100%;
        padding: 2rem;
    }
    .home-section-border {
        border-right: 4px solid;
    }

    .no-border {
        border:0px transparent !important;
    }

    .hidden-md {
        display: none;
    }
    .custom-modal {
        /*top: -302px;*/
        width: 100%;
    }
    .abtn-home-1{
        font-size: 40px !important;
        padding: 0px 15px;
    }
    .person-details {
        top: 200px;
    }
    
}

/* Large Devices */
@media (min-width: 992px) { 
    .home-content {
        /*height: 85vh;*/
        /* width:100%; */
        padding: 2rem;
    }
    .home-section-border {
        border-right: 4px solid;
    }
    .hidden-lg-l {
        display: none;
    }

    .home-sections {
        height: 480px;
    }

    .custom-modal {
        width: 66%;
    }
    .abtn-home-1{
        font-size: 40px !important;
        padding: 0px 15px;
    }
}

/* Large Devices */
/*@media (min-width: 992px) and (orientation:portrait) { 
    .col-lg-4 {
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
        max-width: 100%;
    }
    .home-content {
        /* height: 80%; /
        width:100%;
        padding: 2rem;
    }
    .home-section-border {
        border-top: 4px solid;
        border-bottom: 4px solid;
    }
    .hidden-lg-p {
        display: none;
    }
    .abtn-home-1{
        font-size: 40px !important;
        padding: 0px 15px;
    }
}*/